*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.main_div{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: #34495e;
height: 100vh;
width:100%;
line-height: 0.4rem;
text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inner_div{
  height:80vh;
  width: 40%;
  background-color: #f4f4f4;
  border-radius: 8px;
}
.inner_div h2{
  text-align: center;
 
 background-color: #16c;
 
 height: 8vh;
 padding:18px;
 box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.1);
 text-shadow: 0 2px 2px black;
 margin:9px 0 25px 0;
}

.input_div{
  background: transparent;
  border: none;
  border-bottom: 2px solid darkblue;
  text-align: center;
  width:35%;
   font-size: 1.2rem;
   color: black;
   outline:none;

}
.input_div:hover{
  
  outline: none;
}

.inner_div button{
width: 40px;
  min-height: 40px;
  background: darkblue;
  color:#fff;
  border-radius: 50px;
  outline: none;
border-color: transparent;

}

ol{
  margin:15px;
}
 li{
   margin:12px;

}
.ToDo_style{
  display: flex;
  flex-direction: row;
justify-content: left;
align-items: center;
}
 .fa-times{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 15px 0 35px;
  color:aliceblue;
  background-color: #16c;
  border-radius: 40px;
  box-shadow: 5px 15px 9px -5px rgba(0, 0, 0, 0.1);
  
}

/* media queries */

@media (max-width:800px){
.inner_div{
 
  width:75%;
}
.input_div{
  font-size: 1rem;
  width:auto;
  
}
.inner_div button{
  width: 32px;
  height: 32px;
  border-radius: 20px;
  margin: 0 0 0 18px;
  text-align: center;
}
}